.feed-search-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    background-color: #f9f9f9; /* Optional background color */
  }
  
  .feed-search-form {
    display: flex;
    justify-content: center; /* Center the search bar horizontally */
    margin-top: 20px;
  }
  
  .feed-search-input {
    padding: 10px;
    width: 70%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .feed-search-button {
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  