.user-list {
  display: flex;
  flex-direction: column; /* Stack the user items vertically */
  width: 100%;
  max-width: 800px; /* Limit the width of the list */
  margin-top: 20px; /* Space between search bar and results */
}

.user-item {
  padding: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease; /* Add hover effect */
}

.user-item:hover {
  background-color: #f1f1f1;
}

.username-link-search{
  text-decoration: none;
  color: #333;
}

.username-link p {
  font-size: 1.1em;
  margin: 0;
}

.feed-search-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Allow the height to adjust with content */
  max-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  overflow-y: auto; /* Add scrolling for long lists */
}

  .feed-search-form {
    display: flex;
    width: 100%; /* Take the full width of the container */
    max-width: 800px; /* Limit the maximum width of the search bar and button */
    align-items: center; /* Align search bar and button vertically */
    margin-top: 10vh;
  }
  
  .feed-search-input {
    padding: 10px;
    flex: 1; /* Allows the input to grow and take up available space */
    width: 70%; /* Adjust the width as needed */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
  
  .feed-search-button {
    flex-grow: 0; /* Prevents button from growing */
    padding: 10px;
    margin-left: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    white-space: nowrap;
  }
   