/* GlobalStyles.css */

/* Abstraction for the body background */
body {
    margin: 0; /* Remove default margin */
    height: 100vh; /* Full height for the body */
}

/* Abstraction for header styles */
.header {
    position: fixed; /* Positioning can be defined in specific pages */
    display: flex; 
    align-items: center; 
    z-index: 1000; 
}

/* Abstraction for logo styles */
.logo {
    content: ""; /*since we do not require a logo at every page, this is for abstraction*/
}

/* Abstraction for header title styles */
.header h1 {
    margin: 0; 
    letter-spacing: 2px; 
    color: #1b1a1a; 
}

/* Abstraction for container styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*container for CreateAccountPage*/
.container-c1{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Abstraction for form styles */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Default padding */
    border: 1px solid #ccc; /* Default border */
    border-radius: 10px; /* Default border radius */
    background-color: #fff; /* Default background color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Default box shadow */
}

/* Abstraction for input styles */
.input {
    content: "";
}

div {
    content: "";
  }


/* Abstraction for button styles */
.button {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    content: "";
}

/* Abstraction for link styles */
.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Abstraction for error message styles */
.error {
    color: red;
}
