/* ResetPassword.css*/

/* Positioning for the logo and title, inherited from LogInPage.css global styling */
.header-login{
    content: "";
}

/* Styling for the logo, inherited from LogInPage.css */
.logo {
    content: '';
}

/* styling for title, imported from login h1 */
.header h1 {
    content: '';
}


/* using the global style of the createAccountPage.css, where we are setting the global styles for the background image only to be shown 
when user is not logged into the application to avoid styling conflict once logged in*/
.setup {
  content: '';
}

/* Block contianer for form*/
.reset-password-container {
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  
  .reset-password-form {
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Header*/
  .reset-password-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .reset-password-form p {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .reset-password-form label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
  }
  
  .reset-password-form input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 1px;
  }
  
  /* Global styles inherited from definition in LogInPage.css*/
  .button {
    content: "";
  }
  
  /* Global styles inherited from definition in LogInPage.css*/
  .button:hover {
    content: "";
  }
  
  /* Global style inherited from LogInPage.css */
  .error {
    content: "";
  }
  
  .login-link {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
  }
  
  .blue-link {
    color: #007bff;
    text-decoration: none;
  }
  
  .blue-link:hover {
    text-decoration: underline;
  }
  