/* index.css */

/*
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../public/welcomeBackground.png'); /* Use your file path 
  background-size: cover; /* Ensure the background covers the entire page 
  background-repeat: no-repeat; /* Avoid repeating the background 
  background-attachment: fixed; /* Keep the background fixed 
  background-position: center; /* Center the image 
}
 */